{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Free Dental Medical Hospital Website Template | Smarteyeapps.com</title>
    <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/slider/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/slider/css/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
    <script type="text/javascript" >
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
    </script>
    <style>
        .btn-info {
            position: absolute;
            left: 70px;
            top: 20px;
            background-color: #3366ff;
        }

        .login-btn {
            position: absolute;
            right: 30px;
            top: 0px;
            background-color: #3366ff;
        }

        .move-left {
            position: absolute;
            left: -150px;
        }

        .ml-2 {
            position: absolute;
            left: 100px;
        }

        .btn-info.dropdown-toggle {
            background-color: #3366ff;
            color: white;
            border-color: #3366ff;
            margin-left: -50px;
            margin-bottom: -1000px;
            margin-top: -40px;
        }

        .dropdown-menu {
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            right: auto !important;
            left: 0 !important;
        }

        .dropdown-menu a {
            color: #333;
        }

        .dropdown-menu a:hover {
            background-color: #f1f1f1;
        }

        .dropdown-divider {
            margin: 0.5rem 0;
        }
        .dropdown-toggle1{
            margin-left: -350px;
            margin-top: 30px;
        }.body{
            margin-bottom: -300px;
            margin-top: -300px;
        }
    </style>

</head>

<body>

    <!-- ################# Header Starts Here#######################--->
    <header>
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                        <h1 style="margin-top: 20px;">MEDLAB</h1>
                        <a data-toggle="collapse" data-target="#menu" href="#menu">
                            <i class="fas d-block d-md-none small-menu fa-bars"></i>
                        </a>
                    </div>

                    <!-- Navigation Menu -->
                    <div id="menu" class="col-lg-7 col-md-8 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>

                    <!-- Book Appointment Button -->
                    <div class="col-md-1">
                        <div class="btn btn-info">
                            <a href="{% url 'medicalhistory' %}" class="text-white">Book Appointment</a>
                        </div>
                    </div>
                    

                    <!-- User Dropdown -->
                    <div class="col-md-2 d-flex justify-content-end align-items-center">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, {{ user.email }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div id="testDropdown" class="dropdown-toggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h6>Select Test</h6>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="testDropdown">
                            <a class="dropdown-item" href="{% url 'blood' %}">Blood Test</a>
                            <a class="dropdown-item" href="{% url 'swab' %}">Swab Test</a>
                            <a class="dropdown-item" href="{% url 'urine' %}">Urine Test</a>
                            <a class="dropdown-item" href="#">X-ray</a>
                            <a class="dropdown-item" href="#">MRI</a>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </header>
    <body>
        <br><br><br><br><div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="edit-profile-container">
                        <h2>Edit Profile</h2>
                        <form action="{% url 'edit_profile' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input type="text" name="first_name" id="first_name" class="form-control" value="{{ user.first_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name:</label>
                                <input type="text" name="last_name" id="last_name" class="form-control" value="{{ user.last_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <select name="gender" id="gender" class="form-control" required>
                                    <option value="male" {% if user.gender == 'male' %}selected{% endif %}>Male</option>
                                    <option value="female" {% if user.gender == 'female' %}selected{% endif %}>Female</option>
                                    <option value="other" {% if user.gender == 'other' %}selected{% endif %}>Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dob">Date of Birth:</label>
                                <input type="date" name="dob" id="dob" class="form-control" value="{{ user.dob|date:'Y-m-d' }}" required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number:</label>
                                <input type="text" name="phone" id="phone" class="form-control" value="{{ user.phone }}" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
   
    
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slider/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

</body>

</html>
